@import 'variables';
@import 'mixins';
@import 'reset';

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Quicksand', sans-serif;
  background-image: linear-gradient(to bottom right,
  paleturquoise, coral);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Quicksand', sans-serif;
}

h1 {
  @include font(4rem, 4.2rem);
}

h2 {
  @include font(3rem, 3.2rem);
}

h3 {
  @include font(2.4rem, 2.6rem);
}

h4 {
  @include font(2.2rem, 2.4rem);
}

h5 {
  @include font(2rem, 2.2rem);
}

h6 {
  @include font(1.8rem, 2.2rem);
}

a {
  @include font(1.6rem, 2rem);
  font-family: 'Quicksand', sans-serif;
  cursor: pointer;
}

p {
  @include font(1.6rem, 2rem);
  font-family: 'Quicksand', sans-serif;
}

img {
  max-width: 100%;
  height: auto;
  max-height: 80vh;
}

button {
  padding: 1rem 1.6rem;
  border-radius: 1rem;
  font-weight: 700;
  background: paleturquoise;
  border: none;
}

ul {
  margin: 0;
  padding: 0;
}

.container {
  @include flex(center, center);
  flex-direction: column;
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

section {
  @include flex(space-between, center);
  flex-direction: column;
  min-height: 100vh;
  text-align: center;
  color: midnightblue;
  .content {
    @include flex(space-evenly, center);
    flex-direction: column;
    height: 90vh;
  }
}

.heritage-content {
  @include flex(center, center);
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  div {
    h5 {
      margin: 2rem;
      text-align: center;
    }
    p {
      text-align: center;
      font-size: 8rem;
      padding: 2rem;
    }
  }
}

.inner-content {
  @include flex(center, center);
  flex-direction: row;
  flex-wrap: wrap;
  width: 100vw;
  img {
    margin: 3%;
  }
}

.jump-down {
  i {
    height: 10vh;
    font-size: 5rem;
    color: darkslateblue;
    cursor: pointer;
    animation-name: wobble;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    transition: transform 0.3s;
  }
  i:hover {
    color: darkorchid;
    transform: scale(1.2);
  }
}


@-webkit-keyframes wobble {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes wobble {
  80% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  85% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  90% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  93% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  96% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
